
<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowMessagesPeriodResults">
            <div class="form-group">
                <label for="MessageDate" class="control-label"></label>
                <input name="MessageDate" type="datetime-local" class="form-control" />
                
            </div>
           <br />
           <br />
            <div class="form-group">
                <input type="submit" value="Отправить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


